div{
    width: 250px;
    height: 250px;
    background-color: deepskyblue;
}

#ozelDiv{
    border: 5px solid black;
    outline-style: dotted;
    outline-color: green;
}

.ortakDiv{
    background-color: yellow;
    border: 10px solid blue;
    outline-style: dotted;
    outline-color: black;
}